<div>

  <h1>Users</h1>
</div>

<%= will_paginate @users %>

<div> 
  <% @users.each do |user| %>
    <article class="row well">
      <span class="col-xs-12 col-sm-12 col-md-4">
        <%= gravatar_for user %>
      </span> 
      <% if current_user != user %>
        <span class="col-xs-12 col-sm-12 col-md-4">
          <%= user.email %> 
        </span>
        <% if !current_user.sent_friend_requests.exists?(receiver_id: user.id) && !current_user.friends?(user) %>
          <div class="col-xs-12 col-sm-12 col-md-4 btn btn-primary">
            <%= link_to "Send Friend Request",
                friendships_path(sender_id: current_user.id,
                                 receiver_id: user.id),
                method: :post,
                class: "button__text" %>
          </div>
        <% end %>
      <% end %>

    </article>
  <% end %>

</div>
<%= will_paginate @users %>

</div>
