<div class="jumbotron">
  <h1><strong><%= @user.email %></strong>'s Page</h1>
  <%= gravatar_for @user %><br><br>
  Email: <strong><%= @user.email %></strong><br><br>
  Joined On: <strong><%= @user.created_at %></strong><br><br>
</div>

<!-- This row contains the users pending friend requests and their requests sent. -->
<section class="row">
  <!-- Users pending friend requets-->
  <div class="col-xs-12 col-sm-12 col-md-6">
    <h2>Friend Requests Pending</h2>

    <% if @user.received_friend_requests.any? %>
      <% @user.received_friend_requests.each do |request| %>
        <article>
          <span><%= request.sender.email %></span>
          <span>
            <%= link_to "Accept", friendship_path(sender_id: request.sender.id, receiver_id: current_user.id), method: :patch, class: "btn btn-success" %> 
            <%= link_to "Decline", friendship_path(sender_id: request.sender.id, receiver_id: current_user.id), method: :delete, class: "btn btn-danger" %> 
          </span>
        </article>
      <% end %>
    <% else %>
      <p>You haven't received any friend requests yet</p>
    <% end %>
  </div>

  <!-- Users sent friend requets-->
  <div class="col-xs-12 col-sm-12 col-md-6">
    <h2>Friend Requests Sent</h2>

    <% if @user.sent_friend_requests.any? %>
      <% @user.sent_friend_requests.each do |request| %>
      <p><%= request.receiver.email %></p>
    <% end %>
    <% else %>
      <p>You haven't sent any friend requests</p>
    <% end %>
  </div>
</section>

<!-- Friends -->
<section class="row">
  <div class="col-xs-12 col-sm-12 col-md-6">
    <h2>Friends List</h2>
    <% if @user.friends.any? %>
      <% @user.friends.each do |friend| %>
        <p><%= friend.email %></p>
      <% end %>
    <% else %>
      <p>No Friends Yet</p>
    <% end %>
  </div>
</section>

<!-- Users posts -->
<%= render "partials/posts" %>
