<% if user_signed_in? %>
  Signed in as: <strong><%= current_user.email %></strong>
  <ul>
    <li><%= link_to "log out", destroy_user_session_path, method: :delete %></li>
    <li><%= link_to "Settings", edit_user_registration_path %></li>
    <li><%= link_to "All Users", users_path %></li>
    <li><%= link_to "Profile", user_path(current_user) %></li>
    <li>Notifications: <strong><%= current_user.received_friend_requests.count %></strong></li>
  </ul>
<% else %>
  <%= link_to "sign in", new_user_session_path %> or
  <%= link_to "sign up", new_user_registration_path %>
<% end %>
