<%= render "partials/posts" %>

<div class="row">
  <div class="col-md-12">
    <div>
      <h2>Your Friends Posts</h2>
    </div>

  <% if @user.friends.any? %>
    <% @user.friends.each do |friend| %>
      <% if friend.posts.any? %>
        <% friend.posts.each do |friend_post| %>
        <article>
          <div class="well">
            <h3 class="post__title"><%= friend_post.title %></h3> 
            By
            <span class="post__author"><%= friend_post.author.email %></span>
            <p><%= friend_post.content %></p>
            <span> 
              <i class="glyphicon glyphicon-thumbs-up thumbs-up"></i>
              <%= friend_post.likes.count %>
            </span>
            <% if !friend_post.likes.exists?(user_id: current_user.id) %>
              <span>
                <%=
                  link_to "Like",
                  likes_path(post_id: friend_post.id),
                  method: :post,
                  class: "btn btn-success btn-xs",
                  remote: true
                %>
              </span>
            <% else %>
              <span>
                <%=
                  link_to "Unlike",
                  like_path(id: friend_post.id, user_id: current_user.id, post_id: friend_post.id),
                  method: :delete,
                  class: "btn btn-danger btn-xs"
                %>
              </span>
            <% end %>
          </div>

          <span class="view-comments">
            <% if friend_post.comments.any? %>
              View all <%= friend_post.comments.size %> comments
              <i class="glyphicon glyphicon-chevron-down"></i>
            <% else %>
             There are no comments yet!<br />
              
            <% end %>
          </span>

          <div class="comments">
            <% if friend_post.comments.any? %>
              <% friend_post.comments.each do |comment| %>
                <div>
                  <%= comment.content %> 
                <% if current_user == comment.user %>
                  <%= link_to "Delete", comment_path(id: comment.id), method: :delete, class: "btn btn xm btn-danger" %>

                </div>
                <% end %>
                <% end %>
            <% else %>
            <% end %>
            <%= render "partials/comments_form", locals: { friend_post_id: friend_post.id } %>
          </div>
        </article>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  

  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div>
      <h2>Create New Post</h2>
    </div>
    <%= form_for @user.posts.build do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %><br><br>

      <%= f.label :content %>
      <%= f.text_area :content, size: "30x5", class: "form-control"%><br><br>

      <%= f.submit "Create Post", class: "btn btn-primary"%><br><br>
    <% end %>
  </div>
</div>
