<%= render "partials/posts" %>

<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h2>Your Friends Posts</h2>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Author</th>
            <th># of Likes</th>
            <th>Like Post</th>
          </tr>
        </thead>
        <tbody>
          <% if @user.friends.any? %>
            <% @user.friends.each do |friend| %>
              <% if friend.posts.any? %>
                <% friend.posts.each do |friend_post| %>
                  <tr>
                    <td><%= friend_post.title %></td>
                    <td><%= friend_post.content %></td>
                    <td><%= friend_post.author.email %></td>
                    <td><%= friend_post.likes.count %></td>
                    <% if !friend_post.likes.exists?(user_id: current_user.id) %>
                      <td><%= link_to "Like", likes_path(post_id: friend_post.id), method: :post, class: "btn btn-success" %></td>
                    <% else %>
                      <td><%= link_to "Unlike", like_path(id: friend_post.id, user_id: current_user.id, post_id: friend_post.id), method: :delete, class: "btn btn-danger" %></td>
                    <% end %>
                  </tr>

                  <tr>
                    <ul>
                      <td>
                        <strong class="btn btn-info">Comments<span class="glyphicon glyphicon-arrow-down"></span></strong>
                        <div class="well">
                        <% if friend_post.comments.any? %>
                            <% friend_post.comments.each do |comment| %>
                              <li>
                                <%= comment.content %>
                                <% if current_user == comment.user %>
                                  <%= link_to "Delete", comment_path(id: comment.id), method: :delete, class: "btn-sm btn-danger" %>
                                <% end %>
                                user:<strong><%= comment.user.email %></strong>
                              </li>
                            <% end %>
                        <% else %>
                          <br>This post doesn't have any comments<br>
                          <p class="text-info">Be The First</p><br>
                        <% end %>
                          <%= render 'partials/comments_form', locals: { friend_post_id: friend_post.id } %>
                          </div>
                      </td>
                    </ul>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <p>No Friend Posts</p>
          <% end %>
        </tbody>

      </table>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="well">
      <h2>Create New Post</h2>
    </div>
    <%= form_for @user.posts.build do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %><br><br>

      <%= f.label :content %>
      <%= f.text_area :content, size: "30x5", class: "form-control" %><br><br>

      <%= f.submit "Create Post", class: "btn btn-primary"%><br><br>
    <% end %>
  </div>
</div>

<%= link_to "Back", root_url, class: "btn btn-info"%>
