<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render "partials/navbar" %>

      <% if flash[:notice]  %>
        <span class="alert alert-success"><%= notice %></span>
      <% elsif flash[:alert]%>      
        <span class="alert alert-danger"><%= alert %></span>
      <% end %>

      <%= yield %>

      <%= render "partials/footer" %>
    </div>
  </body>
</html>
