<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag "https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" %>
  </head>

  <body>
    <div class="container">
      <%= render "partials/navbar" %>

      <% if flash[:notice]  %>
        <span class="alert alert-success"><%= notice %></span>
      <% elsif flash[:alert]%>      
        <span class="alert alert-danger"><%= alert %></span>
      <% end %>

      <main>
        <%= yield %>
      </main>

      <%= render "partials/footer" %>
    </div>
  </body>
</html>
