<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'partials/navbar' %>

      <% if flash[:notice] || flash[:alert] %>
        <p class="notice" style="color: green; text-align: center; font-size: 20px"><%= notice %></p>
        <p class="alert" style="color: red; text-align: center; font-size: 20px"><%= alert %></p>
      <% end %>

      <%= yield %>
  </div>
  </body>
</html>
